<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        
        .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
        }

        .box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background-color: #f2f2f2;
            margin-right: 20px;
        }

        .profile-box {
            width: 400px;
            height: 320px;
        }

        .details-box {
            width: 1000px;
            height: 320px;
        }
        .announcement-box {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            background-color: #f2f2f2;
            width: 370px;
            margin-top: 10px;
            margin-left: 20px;
            height: 300px; 
            overflow: auto; 
        }
        .navbar {
            background-color: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
        }

        .navbar ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .navbar li {
            display: inline;
            margin-right: 10px;
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
        }

        .profile-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 20px;
        }

        .profile-photo {
            width: 150px;
            height: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .profile-photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .profile-info {
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
        }
       
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }

        #upload-work-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="box profile-box">
            <div class="profile-container">
                <div class="profile-photo">
                     <a href="https://ibb.co/NZN06R9"><img src="https://i.ibb.co/FgYQbp5/profile.jpg" alt="profile" border="0"></a>
                </div>
                <div class="profile-info">
                    <h2>{{userName}}</h2>
                    <p>{{category}}</p>
                </div>
            </div>
        </div>
        <div class="box details-box">
            <h3>Additional Details</h3>
            <p><strong>Name:</strong> {{user.name}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Phone Number:</strong> {{user.phone_number}}</p>
            <p><strong>Date of Birth:</strong> {{user.dob}}</p>
            <p><strong>Address:</strong> {{user.address}}</p>
            <div class="upload-work-button">
                <button id="upload-work-button">Upload Work</button>
            </div>
        </div>
    </div>

   <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Activity Update</h2>
        <form id="upload-work-form" action="/activity-update" method="post">
            <div>
                <label for="program">Program:</label>
                <select id="program" name="program">
                    {{#each programs}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <br><br>

            <div>
                <label for="start-date">Start Date:</label>
                <input type="date" id="start-date" name="start-date">
                <br><br>
            </div>

            <div>
                <label for="end-date">End Date:</label>
                <input type="date" id="end-date" name="end-date">
                <br><br>
            </div>

            <div>
                <label for="hours">No of Hours:</label>
                <input type="number" id="hours" name="hours">
                <br><br>
            </div>

            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea>
                <br><br>
            </div>

            <div>
                <input type="submit" value="Upload">
            </div>
        </form>
    </div>
</div>


<div class="announcement-box">
<h3>Programs Enrolled:</h3>
<ul>
  {{#each programs}}
    <li><h4>{{this}}</h4></li>
  {{/each}}
</ul>

</div>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const modal = document.getElementById("myModal");
            const button = document.getElementById("upload-work-button");
            const closeButton = document.getElementsByClassName("close")[0];

            button.addEventListener("click", function() {
                modal.style.display = "block";
            });

            closeButton.addEventListener("click", function() {
                modal.style.display = "none";
            });

            window.addEventListener("click", function(event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            });
        });
    </script>
</body>
</html>
